{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    WeatherTop Version 2
  </h3>
  
  <div class="ui two column middle aligned grid basic segment">
  <div class="column">
    <img class="ui medium rounded image" src="https://cdn.glitch.com/a33a33b6-6b11-4d53-84dc-94c7cc012d9b%2Fstart.jpg?v=1628425066135">
  </div>
  
  <div class="column">
  <p>
    Weather Top 1000 was created in conjunction with WeatherTop Inc to allow meteorologists
      to create their own personal accounts
      where they can input a weather stations and readings for these
      weather stations. The app does a number of calculations depending on the inputs
      including the beaufort scale, wind chill, wind direction, minimum and maximum of
      all the readings and trends in temperature, wind speed and atmospheric pressure.
      The app displays at the top of your screen the latest conditions from the readings
      that have been entered.</p>
    <p>It is designed so it is easy to use and to navigate. Users can sign up with a unique email
      address and their own password.  From there they can create a weather statation and start
      adding the latest reading to this station.  The app records the time and date of the reading and
      they are listed accordingly.  Their stations which must have a unique name are also listed
      alphabetically with their latest conditions visible on the dashboard.  Users can delete readings
      or stations.
    <p>In customer profile users will have the option to edit personal details on their profile. Unique email
      addresses must be provided each time.  Blank fields will not be accepted when submitting data. </p>
    <p>The app is still in development so we will be adding features to this in the near future.
      Please get in touch if you have any issues with the app or have any suggestions that would ensure
      a more user friendly version.
  </p>
    </div>
  </div>
</section>