{{> welcomemenu id="signup"}}

<div class="ui two column grid basic middle aligned segment">
  <div class="column">

    <form class="ui stacked segment form" action="/register" method="POST">
  <h3 class="ui header">Register</h3>
  <div class="two fields">
    <div class="field">
      <label>First Name</label>
      <input placeholder="First Name" type="text" name="firstName">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input placeholder="Last Name" type="text" name="lastName">
    </div>
  </div>
  <div class="field">
    <label>Email</label>
    <input placeholder="Email" type="text" name="email">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password">
  </div>
  <button class="ui blue submit button">Submit</button>
</form>
  
  </div>
  <div class="column">
    <img class="ui medium image" src="https://cdn.glitch.com/a33a33b6-6b11-4d53-84dc-94c7cc012d9b%2F0aee8e22-d7f7-48c7-96d1-adeae2717d7f.image.png?v=1628424846477">
  </div>
</div>    